{% extends 'main/l.html' %}

{% block titel %}Виноградники{% endblock %}

{% block conten %}
  <h1 style="margin-left:300px; margin-top:10px; margin-bottom:0px;">
      Поиск земли по виноградникам
  </h1>
  <div class="features">
        <img class="image" src="static/main/img/map1.jpg" align="left" hspace="120px">
        <form method="post">
            {% csrf_token %}
            <p style="margin-left:360px;">Виноградники</p>
            {{ form.vino }}
            <p style="margin-left:360px;">±Высота, м</p>
            {{ form.height }}
            <p style="margin-left:360px;">±Экспозиция</p>
            {{ form.aspect }}
            <p style="margin-left:360px;">±Уклон местности</p>
            {{ form.slope }}
            <p style="margin-left:360px;">±Время затопления</p>
            {{ form.water }}
            <button type="submit" class="but btn btn-success">Найти</button>
        </form>
  </div>
{% endblock %}