{% extends 'main/l.html' %}

{% block titel %}Виноградники{% endblock %}

{% block conten %}
  <h1 style="margin-left:300px; margin-top:10px; margin-bottom:0px;">
      Поиск земли по виноградникам
  </h1>
  <div class="features">
        <img class="image" src="static/main/img/res.png" align="left" hspace="120px">
        <form method="post">
            <p>Виноградники</p>
            <p><input type="text" placeholder="№ виноградников" size="18" /></p>
            <p>±Высота, м</p>
            <p><input type="text" placeholder="Введите высоту" size="18"/></p>
            <p>±Экспозиция</p>
            <p><input type="text" placeholder="Введите экспозицию" size="18"/></p>
            <p>±Уклон местности</p>
            <p><input type="text" placeholder="Введите уклон мес." size="18"/></p>
            <p>±Время затопления</p>
            <p><input type="text" placeholder="Введите время" size="18"/></p>
            <a class="button" href="{% url 'result' %}">Найти</a>
        </form>
  </div>
{% endblock %}