{% extends 'main/l.html' %}

{% block titel %}Виноградники{% endblock %}

{% block conten %}
    <div class="features">
        <h1>Terroir concept</h1>
        <p>Terroir concept - геоинформационный программный комплекс, позволяющий оценить планируемые участки земель
на предмет их пригодности  под посадки винограда. Сервис дает возможность соотнести земельные
участки с характеристиками сортов винограда на основе почвенно-климатических факторов и
специфических характеристик местности. В результате виноделы получают возможность производить
уникальную продукцию на конкурентном рынке, в полной мере отражающую свойства локальных терруаров.</p>
    </div>
{% endblock %}